header{
    max-width: 74vw;
    min-width: 345px;
    height: 50vh;
    margin: 0 auto;
    background-image: url("../images/bg-pattern-top-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.social__header{
    display: flex;
}
.social__header-container{
    width: 50%;
    margin-top: 100px;
    margin-right: 0;
    margin-bottom: 50px;
}
.social__title{
    font-size: 4rem;
    text-align: start;
    margin: 0;
    margin-bottom: 15px;
    margin-right: 250px;
    font-weight: 700;
    color: var(--very-dark-magenta);
}
.social__description{
    font-size: 1.5rem;
    text-align: start;
    font-weight: 400;
    line-height: 30px;
    margin: 0px 180px 0px 0px;
    color: var(--dark-grayish-magenta);
}
.social__container{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}
.social__card{
    width: 500px;
    height: 70px;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: var(--light-grayish-magenta);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.social__card--left{
    margin-right: 100px;
}
.social__card--right{
    margin-left: 100px;
}
/*Main*/
main{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    max-width: 100vw;
    min-width: 345px;
    height: 50vh;
    margin: 0;
    margin: 0px 150px;
    background-image: url("../images/bg-pattern-bottom-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product__container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product__card{
    position: static;
    min-width: 345px;
    max-width: 100px;
    height: 200px;
    margin: 10px 0px;
    padding: 30px 30px;
    border-radius: 10px;
    background-color: var(--very-dark-magenta);
}
.product__card--center{
    margin-top: 25px;
}
.product__card--right{
    margin-top: 50px;
}
